*{
    box-sizing: border-box;
}
.navbar {
    height: 15vh;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.app-name {
    padding-left: 50px;
    color: rgb(254, 209, 54);
    font-size: 25px;
    font-family: serif;
    font-style: italic;
}

.navbar-button {
    border: none;
    background: transparent;
    font-family: sans-serif;
    font-size: 15px;
    outline: none;
    color: rgb(255, 255, 255);
    margin-right: 30px;
}

.navbar-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navbar-icon {
    display: none;
    background-color: rgb(254, 209, 54);
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: sans-serif;
    border: 2px ridge rgb(255, 255, 255);
    border-radius: 5px;
    height: 35px;
    width: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-icon:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.dropdown {
    width: 100%;
    height: 30vh;
    background-color: rgb(33, 37, 41);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 10vh;
    left: 0%;
    box-sizing: border-box;
}

.dropdown > button{
    margin-top: 15px;
    font-size: 18px;
}

@media (max-width: 900px){
    .navbar-icon {
        display: flex;
    }

    .navbar-button-container {
        display: none;
    }
    .navbar {
        background-color: rgb(33, 37, 41);
        justify-content: space-between;
        height: 75px;
    }
}