*{
    box-sizing: border-box;
}

body {
    background-image: url('https://lh3.googleusercontent.com/proxy/zhqAu008wHcWgQHjpfMBsA67Z6hOfcHGw1j6UBbR9ohBoTYhvKmBvJo2luTo2LI0-XcUKT9WqA1DFDufvuGi-u6n2x6aXR1td8hfmbgVRmQ');
    background-repeat: no-repeat;
    background-size: 100%;
}